jsonargparse>=4.35.0
wandb>=0.18.1
torch>=2.4.0
torchvision>=0.18.0
torchaudio>=2.3.0
transformers>=4.41.0
datasets>=3.2.0
huggingface_hub>=0.27.0
zstandard>=0.22.0
deepspeed>=0.14.2
accelerate>=1.0.1
scikit-learn>=1.5.0
matplotlib>=3.9.0
plotly>=5.22.0
kaleido>=0.1.0
sentencepiece>=0.2.0
setuptools>=70.0.0
einops>=0.7.0
jaxtyping>=0.2.36
traker>=0.3.2
gensim>=4.3.3